/* 基本重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基本全局樣式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #b3d1ff; /* 淡藍色背景 */
    color: #333;
}
.portfolio-item {
    width: 100%; /* 確保占滿可用寬度 */
    overflow: hidden; /* 隱藏溢出的部分 */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 中心對齊內部元素 */
}

audio {
    width: 100%; /* 確保音頻控件不超過容器寬度 */
    max-width: 600px; /* 防止在大屏幕上過寬 */
}
.portfolio-item h3 {
    margin-bottom: 10px; /* 為標題和播放器之間添加間隔 */
}

audio {
    margin-bottom: 20px; /* 為播放器和下一個元素添加間隔 */
}

@media (max-width: 768px) {
    audio {
        width: 95%; /* 小屏幕上留有邊距 */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    audio {
        width: 90%; /* 中等屏幕適當調整 */
    }
}

.main-content {
    background-color: rgba(255, 255, 255, 0.5); /* 白色半透明背景 */
    margin: 10px auto;
    padding: 20px;
    width: 90%; /* 預設寬度 */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* 媒體查詢 */
@media (min-width: 768px) { /* 針對平板和桌面顯示設置 */
    .main-content {
        width: 80%; /* 較寬的屏幕使用更窄的寬度 */
    }
}

@media (min-width: 1024px) { /* 針對桌面顯示設置 */
    .main-content {
        width: 70%; /* 桌面顯示器使用更窄的寬度 */
    }
}


/* 其他元素和區塊保持原樣或根據需要調整 */

/* 導覽列 */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* 首頁部分 */
#hero {
    background: url('picture/background.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


#hero h1 {
    font-size: 48px;
}

#hero p {
    font-size: 20px;
}

/* 工作室介紹 */
section {
    padding: 20px;
}

#about, #team, #portfolio, #contact {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

/* 成員介紹 */
.team-member {
    text-align: center;
    margin-bottom: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* 作品集 */
.portfolio-item {
    margin-bottom: 20px;
}

/* 聯絡表單 */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* 頁腳 */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
